<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 
    - primary meta tags
  -->
    <title>SearchOmega - You can Search Anything !</title>
    <meta name="title" content="SearchOmega - You can Search Anything !" />
    <meta
      name="description"
      content="This is a Restaurant html template made by codewithsadee"
    />

    <!-- 
    - favicon
  -->
    <link
      rel="shortcut icon"
      href="./assets/pic/favicon.ico"
      type="image/svg+xml"
    />

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- 
    - preload images
  -->
    <link rel="preload" as="image" href="./assets/images/hero-slider-1.jpg" />
    <link rel="preload" as="image" href="./assets/images/hero-slider-2.jpg" />
    <link rel="preload" as="image" href="./assets/images/hero-slider-3.jpg" />
  </head>

  <body id="top">
    <!-- 
    - #PRELOADER
  -->

    <div class="preload" data-preaload>
      <div class="circle"></div>
      <p class="text">Search Omega</p>
    </div>

    
    <main>
      <article>

        <!-- 
        - #HERO
      -->

      
        <section class="hero text-center" aria-label="home" id="home">
          <ul class="hero-slider" data-hero-slider>
            <li class="slider-item active" data-hero-slider-item>
              <img src="/assets/pic/logo.png" class="img-main">
              
              <div class="search-container" style="margin-left: 100px;">
                <div class="search-box">
                  <i class="fa fa-search"></i>
                  <form action="">
              
                    <input

                    id="searchInput"
                    type="text"
                    class="form-control"
                    placeholder="Search anything..."
                    {{!-- style="width: 700px;  " --}}
                    onkeyup="searchFunction()"
                    
                    />
                    <span><button type="submit" class="search-button">Search</button></span>
                  </form>
                  
                  <div id="resultList" class="result-list"><div>
                </div>

             
                </div>

            </li>

  
  
      </article>
    </main>
  
    <!-- 
    - custom js link
  -->
    <script src="./assets/js/script.js"></script>

    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script src="./assets/js/search.js"></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
